<div class="footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-1 col-lg">
            <h4 class="courgette">Catégories</h4>
            <ul class="oswaldmini links">
                <li><a>Revues</a></li>
                <li><a href="/recette">Recettes</a></li>
                <li><a>Découvertes</a></li>
            </ul> 
        </div>
        <div class="col-12 offset-md-1 col-lg">
            <h4 class="courgette">Archives</h4>
            <ul class="oswaldmini links">
                <li>2019</li>
                <li>2018</li>
                <li>2017</li>
            </ul> 
        </div>
        <div class="col-12 offset-md-1 col-lg-5">
            <div class="form-row">
                <label for="InputEmail1" class="col-12 courgette"><h5>Newsletter</h5></label>
                <input type="email" class="form-control col-4" id="email"
                placeholder="Email...">
                <button class="btn btn-outline-dark col3" type="submit">S'inscrire</button>
            </div>
            <div class="sharing">
                <h5 class="courgette">Partager</h5>
                <ul>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                </ul> 
            </div>
        </div>
    </div>
</div>
</div>