<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf8">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Oswald:200,300,400" rel="stylesheet">  
    <link rel="icon" href="/img/logo_square_black.png" > 
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.min.css"> 
    <link rel="stylesheet" href="/css/{{css}}">    
</head>

<body>
    {{{body}}}
</body>


</html>