<!-- ****** -->
<!-- HEADER -->
<header class="antoine_header">
    <div class="noir">
        <div class="navi">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">Cui'Zine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto oswald">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Accueil </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/team"><span class="sr-only">(current)</span>Equipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="bloctitre">
                <h1>Antoine</h1>
                <h2>Gouteur professionnel</h2>
            </div>
        </div>
    </div>
</header>
    <!-- ****** -->
    <!-- ..//..HEADER -->

    <!-- BLOC ADRESSE -->
<div class="container">
    <div class="row">
        <div class="teampics col col-lg-9">
            <div class="adresse">
                <div class="container">
                    <div class="row">
                        <div class="col-12">                                 
                            <p>
                            <img class="profilepic" src="img/team/antoine.jpg" alt="Antoine">
                            lorem ipsum Quaestione igitur per multiplices dilatata 
                            fortunas cum ambigerentur quaedam, non nulla levius actitata
                            constaret, post multorum clades Apollinares ambo pater et filius
                            in exilium acti cum ad locum Crateras nomine pervenissent, villam
                            scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide,
                            ut mandatum est, fractis cruribus occiduntur. lorem ipsum Quaestione igitur per multiplices dilatata 
                            fortunas cum ambigerentur quaedam, non nulla levius actitata
                            constaret, post multorum clades Apollinares ambo pater et filius
                            in exilium acti cum ad locum Crateras nomine pervenissent, villam
                            scilicet suam quae ab Antiochia vicensimo et quarto disiungitur lapide,
                            ut mandatum est, fractis cruribus occiduntur.
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="recherche col d-none d-lg-inline">
            <div class="form-row">
                <label for="InputEmail1" class="col-8 courgette"><h5>Recherche</h5></label>
                <input type="search" class="form-control col-8" id="search"
                        placeholder="Recherche...">
                <button class="btn btn-outline-dark col-8" type="submit">Ok</button>
            </div>
            <div class="form-row">
                <label for="InputEmail1" class="col-8 courgette"><h5>Newsletter</h5></label>
                <input type="email" class="form-control col-8" id="email"
                        placeholder="Email...">
                <button class="btn btn-outline-dark col-8" type="submit">S'inscrire</button>
            </div>
            <div class="sharing">
                <h5 class="courgette">Partager</h5>
                <ul>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                </ul> 
            </div>
        </div>
    </div>
</div>

    <!-- ****** -->
    <!-- ..//.. BLOC ADRESSE -->

<!-- FOOTER -->

{{> footer }}

<!-- ****** -->
<!-- ..//.. FOOTER -->