<!-- ****** -->
<!-- HEADER -->
  {{> header }}
<!-- ****** -->
<!-- ..//..HEADER -->

<!-- ****** -->
<!-- ARTICLES VERSION I -->

<!-- <div class="contenu">
    <h3 class="oswald">Derniers articles</h2>
    <div>
        <ul>
            <li>
                <img src="./img/articles/suzette/suzette-small.jpg" alt="Chez Suzette">
                <h4 class="courgette">Chez Suzette, la nouvelle crêperie qui fait parler d'elle</h2>
                <p>La franchise "Chez Suzette" qui fait un carton chez les bretons
                ouvre son premier restaurant à Paris dans le quartier latin. Antoine 
                De Cui'zine a testé pour vous les saveurs sucrées, salées, au froment
                ou au sarrazin!
                </p>
            </li>                       
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <img src="./img/articles/metro/metro-small.jpg" alt="Metro Dessert">
                <h4 class="courgette">Le Métro Dessert</h2>
                <p>Germain est ferrovipathe (ndlr: fan de train), son fils Maxime est
                pâtissier. Ils ont décidé de réunir leur deux passions dans un restaurant
                à la déco inspiré du métro parisien. A voir absolument, mais qu'en est-il
                d'y aller pour manger? Clémentine entre en gare et nous donne son avis.
                </p>
            </li>                       
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <img src="./img/articles/vitaly/vitaly-small.jpg" alt="Chez Suzette">
                <h4 class="courgette">Vitaly, le végan italien</h2>
                <p>Quand on pense italien, on pense lasagne et jambon de Parme. Ils l'ont fait, les
                saveurs de l'Italie à portée des herbivores. Cette fois, c'est moi Tony qui vais le
                tester pour vous.
                </p>
            </li>                       
        </ul>
    </div>
    <div class="previous">
        <a> << Voir les articles précédents</a>
    </div>    
</div> -->

<!-- ****** -->
<!-- ..//.. ARTICLES VERSION I -->

<!-- ARTICLES VERSION II -->
<div class="contenu">
    <h3 class="oswald">Derniers articles</h3>
    
    <div class="container">
        <div class="row">
            <div class="col col-lg-9" >            
                <div class="contenu container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <img src="./img/articles/suzette/suzette-small.jpg" alt="Chez Suzette">
                        </div>
                        <div class="col-11 col-md-7">       
                            <h4 class="courgette">Chez Suzette, la nouvelle crêperie qui fait parler d'elle</h2>
                            <p>La franchise "Chez Suzette" qui fait un carton chez les bretons
                                ouvre son premier restaurant à Paris dans le quartier latin. Antoine 
                                De Cui'zine a testé pour vous les saveurs sucrées, salées, au froment
                                ou au sarrazin!
                            </p>   
                        </div>            
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <img src="./img/articles/metro/metro-small.jpg" alt="Le Métro Dessert">
                        </div>
                        <div class="col-11 col-md-7">       
                            <h4 class="courgette">Le Métro Dessert</h2>
                            <p>Germain est ferrovipathe (ndlr: fan de train), son fils Maxime est
                            pâtissier. Ils ont décidé de réunir leur deux passions dans un restaurant
                            à la déco inspiré du métro parisien. A voir absolument, mais qu'en est-il
                            d'y aller pour manger? Clémentine entre en gare et nous donne son avis.
                            </p>   
                        </div>            
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-5">
                            <img src="./img/articles/vitaly/vitaly-small.jpg" alt="Vitaly">
                        </div>
                        <div class="col-11 col-md-7">       
                            <h4 class="courgette">Vitaly, le végan italien</h4>
                            <p>Quand on pense italien, on pense lasagne et jambon de Parme. Ils l'ont fait, les
                            saveurs de l'Italie à portée des herbivores. Cette fois, c'est moi Tony qui vais le
                            tester pour vous.
                            </p>   
                        </div>            
                    </div>

                    <div class="row">
                        <a class="col-7"> << Voir les articles précédents</a>
                    </div>    
                </div>

            </div>
            <div class="recherche col d-none d-lg-inline">
                <div class="form-row">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Recherche</h5></label>
                    <input type="email" class="form-control col-8" id="email"
                            placeholder="Recherche...">
                    <button class="btn btn-outline-dark col-8" type="submit">Ok</button>
                </div>
                <div class="form-row">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Newsletter</h5></label>
                    <input type="email" class="form-control col-8" id="email"
                            placeholder="Email...">
                    <button class="btn btn-outline-dark col-8" type="submit">S'inscrire</button>
                </div>
                <div class="sharing">
                    <h5 class="courgette">Partager</h5>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ****** -->
    <!-- ..//.. ARTICLES VERSION II -->


{{> footer }}