    <!-- ****** -->
    <!-- HEADER -->
    <header>
        <div class="navi">
            <div class=" filtrenav">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="/">Cui'Zine</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto oswald">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Accueil </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#"><span class="sr-only">(current)</span>Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/team">Equipe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="row posttitre">
                        <div class="bloctitre offset-1 offset-lg-0 col-10 col-lg-12">
                            <h1 class="filtretitre">Chez Suzette, la nouvelle crêperie qui fait parler d'elle</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** -->
    <!-- ..//..HEADER -->

    <!-- BLOC ADRESSE -->
    <div class="container">
        <div class="row">
            <div class="col col-lg-9">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="courgette">Intro</h3>
                        </div>
                        <div class="col-12">
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                        </div>
                        <div class="col-12">
                            <h4 class="courgette">Développement</h4>
                        </div>
                        <div class="col-12">
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                        </div>
                        <div class="col-12">
                            <h4 class="courgette">Conclusion</h4>
                        </div>
                        <div class="col-12">
                            <p>Toi même tu sais la creperie Suzette c'est du lourd alors qu'est-ce qu'on attend?
                            ça vient de panamezer et ça envoie des galettes à tire-larigot.
                            </p>
                        </div>
                    </div>
                    
                    <div class="row auteur">
                        <div class="col-5 offset-lg-2 col-lg-4">
                            <img class="profilepic" src="/img/team/antoine.jpg">
                        </div>
                        <div class="col-7 col-lg">
                            <h4 class="courgette">A propos de l'auteur</h4>
                            <p>Antoine a découvert qu'il était un BG, du coup il a décidé
                            de mettre ses pouvoirs à profit pour protéger les innocents et les opprimés.
                            Il aime manger aussi et faire la vaisselle.
                            </p>
                        </div>
                    </div>
                </div>    
                
            </div>
            <div class="recherche col d-none d-lg-inline">
                <div class="form-row">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Recherche</h5></label>
                    <input type="search" class="form-control col-8" id="search"
                            placeholder="Recherche...">
                    <button class="btn btn-outline-dark col-8" type="submit">Ok</button>
                </div>
                <div class="form-row">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Newsletter</h5></label>
                    <input type="email" class="form-control col-8" id="email"
                            placeholder="Email...">
                    <button class="btn btn-outline-dark col-8" type="submit">S'inscrire</button>
                </div>
                <div class="sharing">
                    <h5 class="courgette">Partager</h5>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="comment col">
                <div class="form-group">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Email</h5></label>
                    <input type="mail" class="form-control col-8" id="mail"
                            placeholder="Votre email...">
                </div>
                <div class="form-group ">
                    <label for="InputEmail1" class="col-8 courgette"><h5>Newsletter</h5></label>
                    <input type="email" class="form-control col-8" id="email"
                            placeholder="Email...">
                </div>
                <div class="form-group">
                    <label for="InputComment" class="col-8 courgette"><h5>Commentaire</h5></label>
                    <textarea class="form-control col-8" id="exampleFormControlTextarea1" rows="3">Votre commentaire</textarea>
                </div>
            </div>
        </div>
    </div>


    <!-- ******** -->
    <!-- SECTION COMMENTAIRES -->

    <div class="container">
        <div class="row">
            <div class="col-7 offset-md-1">
                <h3 class="courgette">Dîtes nous ce que vous en avez pensé</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-md-1 col-md-1">
                <img class="profilepic" src="img/logo_square_black.png">
            </div>
            <div class="col-7 col-md-3 namecomment">
                <h4 class="courgette">Sebastien</h4>
                <p>Oui c'est super je suis content</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-md-1 col-md-1">
                <img class="profilepic" src="img/logo_square_black.png">
            </div>
            <div class="col-7 col-md-3 namecomment">
                <h4 class="courgette">Chardonnay</h4>
                <p>Oui c'est super je suis SUPER MEGA contente</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-2 offset-md-2 col-md-1">
                <img class="answer profilepic" src="img/logo_square_black.png">
            </div>
            <div class="col-5 col-md-3 namecomment">
                <h4 class="courgette">PlayaHater</h4>
                <p>FAKE</p>
            </div>
        </div>
    </div>

    <!-- SECTION COMMENTAIRES -->
    <!-- ******** -->

    <!-- ****** -->
    <!-- ..//.. BLOC ARTICLE -->

<!-- FOOTER -->

{{> footer }}

<!-- ****** -->
<!-- ..//.. FOOTER -->