    /* HEADER CONTENT */
    /* ********* */

header{
    background-image:url("/img/articles/suzette/suzette-header.jpg");
}

.filtrenav{
    background-color:rgba(0, 0, 0, 0.6);
    height:70px;
}     

.posttitre{
    margin-top:50px;
}

    /* ******* */
    /* ../..HEADER CONTENT.. */

    /* CONTENU */
    /* ********* */

.recherche, .comment{
    padding-top:55px;
}

li{
    list-style-type:none;
}

ul{
    padding:0;
}

.auteur{
    margin-top:30px;
}

        /* ******* */
    /* ../..CONTENU.. */

    /* COMMENTS SECTION */
        /* ****** */

.form-row{
    margin-bottom:15px;
}

.form-group{
    padding-left:5px;
}

.comment .form-group label{
    padding-left:5px;
}

.namecomment{
    padding-top:15px;
}

.answer{
    opacity:0.6;
}

        /* ******* */
    /* ../..COMMENTS SECTION.. */